<configuration>
	<springProperty scope="context" name="log.file.path"
		source="log.file.path" />
	<springProperty scope="context" name="spring.application.name"
		source="spring.application.name" />
	<springProperty scope="context" name="application.version"
					source="application.version" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{dd-MM-yyyy'T'HH:mm:ss.SSS} [%thread] HAPPYPOINT ${application.version:-CURRENT} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="MERKEZILOG" class="ch.qos.logback.core.FileAppender">
		<file>${log.file.path}/merkezi.log</file>
		<append>true</append>
		<prudent>true</prudent>
		<encoder>
			<pattern>%d{yyyyMMdd'T'HHmmss} HAPPYPOINT ${application.version:-CURRENT} %-5level %X{userId} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<logger name="MerkeziLoglayici" level="INFO">
		<appender-ref ref="MERKEZILOG" />
	</logger>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${log.file.path}/${spring.application.name}.log</file>
		<append>true</append>
		<encoder>
			<Pattern>%d{dd-MM-yyyy'T'HH:mm:ss.SSS} [%thread] HAPPYPOINT ${application.version:-CURRENT} %-5level %X{userId} [%file:%line] - %msg%n</Pattern>
		</encoder>
	</appender>

	<logger name="org.yener.ciceksepeti" level="DEBUG" />

	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>